<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detection</title>
</head>
<body>
    <h1>Skin Cancer Detection</h1>
    <h3>Module used: HAM10000</h3>
    <h4>MAlzaqh</h4>
    
    <form action="/success" method="post" enctype="multipart/form-data">
        <label for="file">Upload an Image:</label>
        <input type="file" name="file" accept=".jpg, .jpeg, .png" required>
        <button type="submit">Predict</button>
    </form>
</body>
</html>
